$color1: #99BF6A;
$color2: #656565;
$color3: #56B399;
$color4: #F7F199;
$color5: #AFDBCE;



body {
    position: relative;

    min-height: 100%;
}

/*TYPO*/

p {

    font-family: 'Lato', sans-serif;
    font-size: 1.2em;

    @media only screen and (max-width: 767px) {
        font-size: 1em;
    }
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;

    @media only screen and (max-width: 767px) {
        font-size: 2em;
    }

}

h2 {
    font-family: 'Poly', serif;
    font-size: 2em;

    @media only screen and (max-width: 767px) {
        font-size: 1.5em;
    }

}



/*NAVBAR*/

nav {
    margin-bottom: 5%;
}

nav .navbar .navbar-expand-lg .navbar-light .bg-light {
    background-color:$color1;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding: 3%;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #56B399;

}

.navbar-brand {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

}

/*ACTIVE*/
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #99BF6A;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 3%;

}

.bg-light {
    background-color: #99BF6A !important;
}

nav img {

    width: 5%;

    @media only screen and (max-width: 767px) {
        width: 10%;
        height: 10%;
    }

}






/*
HOMEPAGE*/

.homepage {
    background-color: $color1;
    margin-top: 15%;

    .titelrij {
        display: block;
        text-align: center;
        margin-bottom: 2em;

        h1 {
            color: white;
            font-size: 5em;

            @media only screen and (max-width: 767px) {
                font-size: 4em;


            }
        }

        h2 {
            color: white;
        }


    }



    .cactusrij {

        margin-bottom: 10%;

        img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 10%;

            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 767px) {
                width: 30%;
                margin: auto;


            }
        }

        .bttn {

            border-radius: 8px;
            border: 2px solid rgb(255, 255, 255);
            width: 80%;
            display: block;
            text-align: center;
            color: white;
            padding: 3%;
            font-weight: 600;
            margin: auto;
            margin-top: 2em;
            text-decoration: none;



            @media only screen and (max-width: 600px) {
                width: 30%;

            }
        }

        a:hover {
            background-color: #56B399;
            color: white;
        }



    }
}


/*WAT-PAGINA*/

.pagina2 {
    color: $color2;


    @media only screen and (max-width: 767px) {
        width: 80%;

        margin-top: 10%;
    }


    .watrow {
        margin-bottom: 5%;

        h1 {
            color: $color3;
        }

        .vraag {
            display: block;
            width: 70%;

            @media only screen and (max-width: 767px) {
                width: 30%;
                margin: auto;
            }
        }
    }

    .geel {
        background-color: $color4;
        padding: 3%;

        h1 {
            color: $color2;
        }

        .bttn {

            color: white;
            display: block;
            line-height: 64px;
            text-align: center;
            font-weight: 800;
            background-color: $color1;
            margin-top: 1em;
            border-radius: 8px;
            text-decoration: none;
            margin-bottom: 40%;

        }



        .bttn:hover {
            background-color: $color3;
            cursor: pointer;


        }


        .pijltjegroen {
            margin-top: 5%;
            margin-bottom: 7%;

            @media only screen and (max-width: 767px) {
                margin-bottom: 15%;

            }

            h2 {
                font-size: 1em;

                @media only screen and (max-width: 767px) {
                    display: block;
                    text-align: center;

                }
            }

            .pijlgroen {

                display: block;
                width: 40%;
                height: auto;
                margin: auto;
                margin-top: -10%;

                @media only screen and (max-width: 767px) {
                    width: 20%;
                    height: auto;
                    margin-top: 5%;


                }

            }
        }

        .cactuswat {
            display: block;
            width: 90%;
            margin: auto;
            margin-top: -10%;

            @media only screen and (max-width: 767px) {
                width: 20%;
                float: left;

            }

        }
    }

}

/*HELP-PAGINA*/
.pagina3 {

    @media only screen and (max-width: 767px) {
        width: 80%;

        margin-top: 10%;
    }

    .h1blauw {
        color: $color3;
    }

    .band {
        display: block;
        width: 80%;
        height: auto;

        @media only screen and (max-width: 767px) {
            width: 30%;
            float: right;
            margin-bottom: 5%;

        }
    }

    .blauw {
        background-color: $color5;
        color: white;


        padding: 4%;

        .pijltjeblauw {
            margin-top: 5%;
            margin-bottom: 7%;

            @media only screen and (max-width: 767px) {
                margin-bottom: 15%;

            }

            h2 {
                font-size: 1em;

                @media only screen and (max-width: 767px) {
                    display: block;
                    text-align: center;

                }
            }

            .pijlblauw {
                display: block;
                width: 40%;
                height: auto;
                margin: auto;
                margin-bottom: 5%;
                margin-top: -10%;

                @media only screen and (max-width: 767px) {
                    width: 20%;
                    height: auto;
                    margin-top: 5%;


                }
            }

        }
    }

    .girl {
        display: block;
        width: 110%;
        margin: auto;
        margin-top: -10%;
    }

    .bttn {

        color: white;
        display: block;
        line-height: 64px;
        text-align: center;
        font-weight: 800;
        background-color: $color1;
        margin-top: 1em;
        border-radius: 8px;
        margin-bottom: 40%;
        text-decoration: none;

    }

    .bttn:hover {
        background-color: $color3;
        cursor: pointer;


    }

}

/*CONTACT-PAGINA*/

.pagina4 {

    @media only screen and (max-width: 767px) {
        width: 80%;

        margin-top: 10%;
    }

    h1 {
        color: $color3;
    }

    p {
        margin-bottom: 0%;
    }


    .overons {
        margin-bottom: 10%;

        .strong {
            font-weight: 600;
            color: $color1;
            margin-top: 8%;

        }
    }



    .form-group {

        margin-bottom: 10%;


        .form-control {
            margin: 2%;
            margin-bottom: 3%;



        }

        .form-control::-webkit-input-placeholder {
            color: $color3;
            font-family: 'Poly', serif;
            font-weight: 400;
        }

        /* WebKit, Blink, Edge */
        .form-control:-moz-placeholder {
            color: $color5;
            font-family: 'Poly', serif;
            font-weight: 400;
        }

        /* Mozilla Firefox 4 to 18 */
        .form-control::-moz-placeholder {
            color: $color5;
            font-family: 'Poly', serif;
            font-weight: 400;
        }

        /* Mozilla Firefox 19+ */
        .form-control:-ms-input-placeholder {
            color: $color5;
            font-family: 'Poly', serif;
            font-weight: 400;
        }

        /* Internet Explorer 10-11 */
        .form-control::-ms-input-placeholder {
            color: $color5;
            font-family: 'Poly', serif;
            font-weight: 400;
        }


        .bttn {
            text-decoration: none;
            color: $color3;
            display: block;
            line-height: 64px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            width: 40%;
            margin-top: 2em;
            border-radius: 8px;
            -webkit-transition: all 1s;
            transition: all 1s;
            margin-bottom: 10%;
            border: solid $color3;
            margin-left: 3%;


        }


        .bttn:hover {
            background-color: $color3;
            color: #ffffff;
            cursor: pointer;


        }

    }




}




/*STEUN-PAGINA*/


.pagina5 {

    @media only screen and (max-width: 767px) {


        margin-top: 10%;
    }

    .h1blauw {
        color: $color3;
        display: block;
        text-align: center;
        margin-bottom: 2em;

    }


    .laadbedrag {
        margin-right: 5%;

        @media only screen and (max-width: 575px) {
            width: 60%;
            margin-left: 10%;
        }

        p {
            font-size: 1em;
            color: $color3;


        }

        .center {
            display: block;
            text-align: center;

            @media only screen and (max-width: 575px) {
                text-align: left;


            }

        }

    }

    .progress {
        display: flex;
        width: 50%;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #b3b1b1;
        border-radius: 8px;

        @media only screen and (max-width: 767px) {
            width: 60%;
            margin-left: 7em;


        }

        .progress-bar {
            background-color: $color3;
            border-radius: 8px;
            margin-left: -10%;
            padding-left: 70%;

        }
    }

    .card {
        background-color: $color5;
        color: white;
        border: none;
        /* margin: 5%;*/
        padding: 3%;
        border-radius: 8px;
        margin-top: 5%;

        @media only screen and (max-width: 767px) {
            width: 80%;
            margin: auto;
            margin-top: 10%;

        }


        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1em;
        }

        .strong {
            font-weight: 600;
            color: $color3;
            margin-top: 2%;
        }

        .inside {

            font-size: 1em;

        }

        .geld {

            border: 2px solid white;
            text-align: center;
            padding: 3%;
            margin-top: 2em;

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: $color1;
                font-weight: 600;
            }


        }

        .container:hover .overlay {
            opacity: 1;
        }

        .text {
            color: white;
            font-size: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .container {
            padding-right: 0;
            margin-bottom: 90%;
        }


        p {
            margin: 0%;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $color1;
            border-radius: 8px;
        }


    }


    .onder {
    
        margin-bottom: 10%;
    }


}



footer.foeter {
    position: fixed;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 25px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: $color1;
    left: 0px;
    right: 0px;
    padding-bottom: 10px 0;
    color: white;
}