body {
  position: relative;
  min-height: 100%;
}

/*TYPO*/
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 1em;
  }
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-family: 'Poly', serif;
  font-size: 2em;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.5em;
  }
}

/*NAVBAR*/
nav {
  margin-bottom: 5%;
}

nav .navbar .navbar-expand-lg .navbar-light .bg-light {
  background-color: #99BF6A;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  padding: 3%;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #56B399;
}

.navbar-brand {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

/*ACTIVE*/
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #99BF6A;
  background-color: white;
  border-radius: 8px;
  padding: 3%;
}

.bg-light {
  background-color: #99BF6A !important;
}

nav img {
  width: 5%;
}

@media only screen and (max-width: 767px) {
  nav img {
    width: 10%;
    height: 10%;
  }
}

/*
HOMEPAGE*/
.homepage {
  background-color: #99BF6A;
  margin-top: 15%;
}

.homepage .titelrij {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

.homepage .titelrij h1 {
  color: white;
  font-size: 5em;
}

@media only screen and (max-width: 767px) {
  .homepage .titelrij h1 {
    font-size: 4em;
  }
}

.homepage .titelrij h2 {
  color: white;
}

.homepage .cactusrij {
  margin-bottom: 10%;
}

.homepage .cactusrij img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  /* Extra small devices (phones, 600px and down) */
}

@media only screen and (max-width: 767px) {
  .homepage .cactusrij img {
    width: 30%;
    margin: auto;
  }
}

.homepage .cactusrij .bttn {
  border-radius: 8px;
  border: 2px solid white;
  width: 80%;
  display: block;
  text-align: center;
  color: white;
  padding: 3%;
  font-weight: 600;
  margin: auto;
  margin-top: 2em;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .homepage .cactusrij .bttn {
    width: 30%;
  }
}

.homepage .cactusrij a:hover {
  background-color: #56B399;
  color: white;
}

/*WAT-PAGINA*/
.pagina2 {
  color: #656565;
}

@media only screen and (max-width: 767px) {
  .pagina2 {
    width: 80%;
    margin-top: 10%;
  }
}

.pagina2 .watrow {
  margin-bottom: 5%;
}

.pagina2 .watrow h1 {
  color: #56B399;
}

.pagina2 .watrow .vraag {
  display: block;
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .pagina2 .watrow .vraag {
    width: 30%;
    margin: auto;
  }
}

.pagina2 .geel {
  background-color: #F7F199;
  padding: 3%;
}

.pagina2 .geel h1 {
  color: #656565;
}

.pagina2 .geel .bttn {
  color: white;
  display: block;
  line-height: 64px;
  text-align: center;
  font-weight: 800;
  background-color: #99BF6A;
  margin-top: 1em;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 40%;
}

.pagina2 .geel .bttn:hover {
  background-color: #56B399;
  cursor: pointer;
}

.pagina2 .geel .pijltjegroen {
  margin-top: 5%;
  margin-bottom: 7%;
}

@media only screen and (max-width: 767px) {
  .pagina2 .geel .pijltjegroen {
    margin-bottom: 15%;
  }
}

.pagina2 .geel .pijltjegroen h2 {
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  .pagina2 .geel .pijltjegroen h2 {
    display: block;
    text-align: center;
  }
}

.pagina2 .geel .pijltjegroen .pijlgroen {
  display: block;
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: -10%;
}

@media only screen and (max-width: 767px) {
  .pagina2 .geel .pijltjegroen .pijlgroen {
    width: 20%;
    height: auto;
    margin-top: 5%;
  }
}

.pagina2 .geel .cactuswat {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: -10%;
}

@media only screen and (max-width: 767px) {
  .pagina2 .geel .cactuswat {
    width: 20%;
    float: left;
  }
}

/*HELP-PAGINA*/
@media only screen and (max-width: 767px) {
  .pagina3 {
    width: 80%;
    margin-top: 10%;
  }
}

.pagina3 .h1blauw {
  color: #56B399;
}

.pagina3 .band {
  display: block;
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .pagina3 .band {
    width: 30%;
    float: right;
    margin-bottom: 5%;
  }
}

.pagina3 .blauw {
  background-color: #AFDBCE;
  color: white;
  padding: 4%;
}

.pagina3 .blauw .pijltjeblauw {
  margin-top: 5%;
  margin-bottom: 7%;
}

@media only screen and (max-width: 767px) {
  .pagina3 .blauw .pijltjeblauw {
    margin-bottom: 15%;
  }
}

.pagina3 .blauw .pijltjeblauw h2 {
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  .pagina3 .blauw .pijltjeblauw h2 {
    display: block;
    text-align: center;
  }
}

.pagina3 .blauw .pijltjeblauw .pijlblauw {
  display: block;
  width: 40%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
  margin-top: -10%;
}

@media only screen and (max-width: 767px) {
  .pagina3 .blauw .pijltjeblauw .pijlblauw {
    width: 20%;
    height: auto;
    margin-top: 5%;
  }
}

.pagina3 .girl {
  display: block;
  width: 110%;
  margin: auto;
  margin-top: -10%;
}

.pagina3 .bttn {
  color: white;
  display: block;
  line-height: 64px;
  text-align: center;
  font-weight: 800;
  background-color: #99BF6A;
  margin-top: 1em;
  border-radius: 8px;
  margin-bottom: 40%;
  text-decoration: none;
}

.pagina3 .bttn:hover {
  background-color: #56B399;
  cursor: pointer;
}

/*CONTACT-PAGINA*/
@media only screen and (max-width: 767px) {
  .pagina4 {
    width: 80%;
    margin-top: 10%;
  }
}

.pagina4 h1 {
  color: #56B399;
}

.pagina4 p {
  margin-bottom: 0%;
}

.pagina4 .overons {
  margin-bottom: 10%;
}

.pagina4 .overons .strong {
  font-weight: 600;
  color: #99BF6A;
  margin-top: 8%;
}

.pagina4 .form-group {
  margin-bottom: 10%;
  /* WebKit, Blink, Edge */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10-11 */
}

.pagina4 .form-group .form-control {
  margin: 2%;
  margin-bottom: 3%;
}

.pagina4 .form-group .form-control::-webkit-input-placeholder {
  color: #56B399;
  font-family: 'Poly', serif;
  font-weight: 400;
}

.pagina4 .form-group .form-control:-moz-placeholder {
  color: #AFDBCE;
  font-family: 'Poly', serif;
  font-weight: 400;
}

.pagina4 .form-group .form-control::-moz-placeholder {
  color: #AFDBCE;
  font-family: 'Poly', serif;
  font-weight: 400;
}

.pagina4 .form-group .form-control:-ms-input-placeholder {
  color: #AFDBCE;
  font-family: 'Poly', serif;
  font-weight: 400;
}

.pagina4 .form-group .form-control::-ms-input-placeholder {
  color: #AFDBCE;
  font-family: 'Poly', serif;
  font-weight: 400;
}

.pagina4 .form-group .bttn {
  text-decoration: none;
  color: #56B399;
  display: block;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: 40%;
  margin-top: 2em;
  border-radius: 8px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 10%;
  border: solid #56B399;
  margin-left: 3%;
}

.pagina4 .form-group .bttn:hover {
  background-color: #56B399;
  color: #ffffff;
  cursor: pointer;
}

/*STEUN-PAGINA*/
@media only screen and (max-width: 767px) {
  .pagina5 {
    margin-top: 10%;
  }
}

.pagina5 .h1blauw {
  color: #56B399;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

.pagina5 .laadbedrag {
  margin-right: 5%;
}

@media only screen and (max-width: 575px) {
  .pagina5 .laadbedrag {
    width: 60%;
    margin-left: 10%;
  }
}

.pagina5 .laadbedrag p {
  font-size: 1em;
  color: #56B399;
}

.pagina5 .laadbedrag .center {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .pagina5 .laadbedrag .center {
    text-align: left;
  }
}

.pagina5 .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #b3b1b1;
  border-radius: 8px;
}

@media only screen and (max-width: 767px) {
  .pagina5 .progress {
    width: 60%;
    margin-left: 7em;
  }
}

.pagina5 .progress .progress-bar {
  background-color: #56B399;
  border-radius: 8px;
  margin-left: -10%;
  padding-left: 70%;
}

.pagina5 .card {
  background-color: #AFDBCE;
  color: white;
  border: none;
  /* margin: 5%;*/
  padding: 3%;
  border-radius: 8px;
  margin-top: 5%;
}

@media only screen and (max-width: 767px) {
  .pagina5 .card {
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }
}

.pagina5 .card h1 {
  font-size: 2em;
}

.pagina5 .card h2 {
  font-size: 1em;
}

.pagina5 .card .strong {
  font-weight: 600;
  color: #56B399;
  margin-top: 2%;
}

.pagina5 .card .inside {
  font-size: 1em;
}

.pagina5 .card .geld {
  border: 2px solid white;
  text-align: center;
  padding: 3%;
  margin-top: 2em;
}

.pagina5 .card .geld a {
  text-decoration: none;
  color: white;
}

.pagina5 .card .geld a:hover {
  color: #99BF6A;
  font-weight: 600;
}

.pagina5 .card .container:hover .overlay {
  opacity: 1;
}

.pagina5 .card .text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pagina5 .card .container {
  padding-right: 0;
  margin-bottom: 90%;
}

.pagina5 .card p {
  margin: 0%;
}

.pagina5 .card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #99BF6A;
  border-radius: 8px;
}

.pagina5 .onder {
  margin-bottom: 10%;
}

footer.foeter {
  position: fixed;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #99BF6A;
  left: 0px;
  right: 0px;
  padding-bottom: 10px 0;
  color: white;
}
/*# sourceMappingURL=style.css.map */